// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.breadcrumbs
  margin: 0 0 2% 10%

body
  font-family: 'Helvetica'
  font-weight: lighter
  margin: 0
.action-buttons
  margin: 3% 0% 3% 10%
  a, a:link, a:active, a:visited
    color: #dea82c
    border: 2px solid #dea82c
    border-radius: 5px
    text-decoration: none
    padding: 10px
    margin: 2px
    transition: background 1s
  a:hover
    background-color: #542712

h1
  font-weight: lighter
.logo-font
  font-family: 'Helvetica LT Std'
  font-weight: bolder
  font-size: 50px
.aurum-table
  .fa
    margin-right: 5%
  padding: 0
  margin: 0 auto
  border: 0
  border-collapse: collapse
  width: 80%
  th
    padding: 10px
    font-weight: lighter
  tr:nth-child(even)
    background-color: #eee

  th
    font-size: 20px
    background-color: #403418
    color: white
  td
    &a, a:link, a:active, a:hover, a:visited
      text-decoration: none
    &:nth-child(2)
      i
        color: #dea82c
        text-shadow: 1px 1px 4px #ccc
    padding: 10px 10px 10px 0
table td, th
  border-bottom: 1px solid #ddd
  border-collapse: collapse
table td:last-child
table
  border-collapse: separate

td, th

th:first-child
  border-top-left-radius: 6px
th:last-child
  border-top-right-radius: 6px

td:first-child
  border-left: none
.center-table
  text-align: center
header
  background-image: asset_url('cloud.png')

  background-position: 80% 78%
  background-size: 100%
  border-bottom: 3px solid #dea82c
  h1
    margin: 5% 5% 5% 10%
